body {
  background-color: #FFFFE0 ;
  margin-top: 5%;
  font-size: 65%;
  font-family: "Truculenta";
  font-weight: 400;
  max-height: none;
}

h1 {
  font-size: 2.5rem;
  color: #02596e;
  margin-bottom: 4rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  max-height: none;
  /* width: 200vw; */
}

p.choice-prefix {
  font-size: 2rem;
  font-weight: 800;
  color: #6c837a;
}

.choice-text {
  font-size: 1.5rem;
  font-weight: 400;
}

.btn {
  display: inline-block;
  font-size: 2rem;
  word-wrap: break-word;
  padding: 0.5rem;
  text-align: center;
  /* vertical-align: middle; */
}

button {
  font-size: 2rem;
  background-color: #e5fdf4;
  border: none;
  color: #6c837a;
}
.hidden {
  display: none;
}

#score-prefix {
  font-size: 4rem;
  color: #02596e;
  font-weight: 800;
  text-align: center;
}

#score {
  font-size: 4.5rem;
  text-align: center;
  font-weight: 800;
  color: #02596e;
}

p#countdown {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
  color: #02596e;
  font-weight: 800;
}

#leaderBoard {
  font-size: 3rem;
  color: #6c837a;
  font-weight: 800;
}

#initials {
  font-size: 2rem;
  border-width: 2px;
  border-color: #02596e;
}

#question {
  font-size: 2rem;
  line-height: 2rem;
}

div#choices {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  font-size: 1rem;
  width: 800px;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
    max-height: none;
  }
}

#timer {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  color: #6c837a;
}
#initials {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

input {
  border-radius: 15px;
  border-width: 20px;
  border: #02596e;
  background-color: #cdd6d3;
  margin-bottom: 5%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  vertical-align: center;
}

.text-center {
  text-align: center;
}
